/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.php_cs*
supervisord.log
supervisord.pid
.stylelintcache
coverage.xml
coverage/
**/.DS_Store
.DS_Store
output-*.txt
certs/
