[mysqld_safe]
nice = 0

[mysqld]
default_authentication_plugin = mysql_native_password
user = mysql
datadir = /var/lib/mysql
port = 3306
skip-external-locking

key_buffer_size = 16M
max_allowed_packet = 512M
thread_stack= 192K
thread_cache_size = 64
innodb_read_io_threads = 2
innodb_write_io_threads = 2

myisam-recover-options  = BACKUP
max_connections = 100

innodb_log_file_size = 512M

collation_server = utf8mb4_unicode_ci
character_set_server = utf8mb4

wait_timeout = 500
interactive_timeout = 28800

open_files_limit = 1024000
skip-name-resolve

join_buffer_size = 512K

innodb_buffer_pool_size = 3174M
innodb_buffer_pool_instances = 2
innodb_stats_persistent_sample_pages = 100
innodb_stats_transient_sample_pages = 24
innodb_rollback_on_timeout = on
